@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.circle{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: #000;
  border-radius: 50%;
  left: 175px;
  top: 175px;
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}
.line {
  position: absolute;
  z-index: 10;
  width: 150px;
  height: 4px;
  top: 198px;
  background: #000;
  transform: scale(0);
  &.left{
    left:50px;
    transform-origin: 100% 50%;
    animation: lines 1s ease-in-out .8s, line-left 1s steps(1) .8s;
  }
  &.right{
    right:50px;
    transform-origin: 0% 50%;
    animation: lines 1s ease-in-out .8s, line-right 1s steps(1) .8s;
  }
}
.bracket{
  position: absolute;
  z-index: 10;
  height: 70px;
  width: 4px;
  top: 165px;
  background:#000;
  animation: bracket .4s ease-out 1.7s;
  animation-fill-mode: both;
  &:before, &:after{
    position: absolute;
    display: block;
    content:'';
    width: 25px;
    height: 4px;
    background: #000;
  }
  &.left {
    left: 50px;
    &:before {
      top: 0;
      left: 0;
      transform-origin: 0% 50%;
      animation: bracket-line .2s ease-out 2.1s;
      animation-fill-mode: both; 
    }
    &:after {
      bottom: 0;
      left: 0;
      transform-origin: 0% 50%;
      animation: bracket-line .2s ease-out 2.1s;
      animation-fill-mode: both; 
    }
  }
  &.right {
    right: 50px;

    &:before {
      top: 0;
      right: 0;
      transform-origin: 100% 50%;
      animation: bracket-line .2s ease-out 2.1s;
      animation-fill-mode: both; 
    }
    &:after {
      bottom: 0;
      right: 0;
      transform-origin: 100% 50%;
      animation: bracket-line .2s ease-out 2.1s;
      animation-fill-mode: both; 
    }
  }
}
.txt_s{
  position: absolute;
  z-index:5;
  width: 400px;
  left: 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;

  &.top{
    top: 130px;
    animation: small-top .4s ease-out 2.2s;
    animation-fill-mode: both;
  }

  &.bottom{
    bottom: 130px;
    animation: small-bottom .4s ease-out 2.2s;
    animation-fill-mode: both;
  }
}
.txt{
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 400px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}
.hide{
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 50px;
  background: #fff;
  left: 0;
  animation: reveal .6s ease-out 1.7s;
  animation-fill-mode: both;

  &.top{
    bottom: 49%;
    transform-origin: 50% 0%;
  }
  &.bottom{
    top: 49%;
    transform-origin: 50% 100%;
  }
}

@keyframes circle{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0);
  }
}

@keyframes lines{
  0% {
    transform: scaleX(0);
  }
  50%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0);
  }
}

@keyframes line-left{
  0%{
    transform-origin: 100% 50%;
  }
  50%, 100%{
    transform-origin: 0% 50%;
  }
}

@keyframes line-right{
  0%{
    transform-origin: 0% 50%;
  }
  50%, 100%{
    transform-origin: 100% 50%;
  }
}

@keyframes bracket {
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}
@keyframes bracket-line{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

@keyframes reveal {
  0%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(0);
  }
}

@keyframes small-top {
  0%{
    transform: translateX(-20px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0%{
    transform: translateX(20px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}